<html>
<head>
<title>	Flask app </title>
</head>
<body>
	<table bgcolor="white" align="center">
	<caption>
		<p> {{error}} </p>
	</caption>


<form action="/login" method="POST">
	<tr>
		<td>
	<p>Email: <td><input type="text" name="email"></td></p>
		</td>
	</tr>
	<tr>
		<td>
	<p>Password: <td><input type="password" name="password"></td></p>
		</td>
	</tr>
	<tr>
		<td>
	<a href="/registerationForm">Register here</a>
		</td>
	
		<td>
	<p><input type="submit" align="center"></p>
		</td>
	</tr>
</form>
</table>

</body>
</html>